:root {
    --top-height: 30px;
    --bottom-height: 50px;
}

.config_ui_page {
    padding: 0px;
    margin: 0px;
    height: 96%;
}


:global(.dark) .config_ui_page {
    background-color: #313131;
    border-color: #5b5b5b;
}


.top_panel {
    padding: 10px 5px 0px 15px;
    margin: 0px;
    height: var(--top-height);
}

.page_title_text {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 17px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

:global(.dark) .page_title_text {
    color: #cfcec4;
}

.middle_panel {
    width: 100%;
    height: calc(100% - var(--bottom-height) - 5px - var(--top-height));
}

.bottom_panel {
    padding: 10px;
    height: var(--bottom-height);

}

.bottom_config_options {}

.config_option_description {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 15px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

:global(.dark) .config_option_description {
    color: #cfcec4;
}

.bottom_file_buttons {}


.bottom_control_buttons {
    float: right;
}

.editor_container {
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    width: 98%;
    float: left;
    border: 1px solid;
    border-color: black;
}
