.header{
    background-color: rgb(38, 38, 38);
    overflow: hidden;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 44px;  
}

.title_text{
    color: #cecdcd;
    font-size: medium;
    padding-left: 5px;
}

button {
    margin: 2px;
    padding: 4px 12px;
    border-radius: 5px;
}