.selector {
  width: 200px;
  margin: 2px;
  padding: 4px 12px;
  border-radius: 5px;
  border-width: 1px;
  float: right;
  background-color: rgb(233, 233, 233);
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font: -moz-pull-down-menu;
}


.dropdownOptionDefault {
    font-style: italic;
    background-color: rgb(184, 184, 184);
}

.nested_container{
  padding: 5px 0px 5px 5px;
  width: 226px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #c0c0c0;
}

.title_nested {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 17px;
display: inline-block;
margin: 5px 0px;
}